
.header {
background-color: blue;
}
.header-title{
    background-color: chocolate;
    display: inline;
    font-size: xx-large;
}
.navigation  {
    display: flex;
    justify-content: flex-end;
    background-color: red;
    margin: 20px;
    padding: 20px;
}
.navigation a {
 text-decoration: none;
 padding: 10px;
 font-size: larger;
 color: black;
 position:relative;
}
.navigation a:hover {
    color: olivedrab;
    font-size: xx-large;
    /* position: absolute; */
}
