/* CSS for the Register component */
.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  section {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    background-color:var(--primary-color);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  h4 {
    text-align: center;
    margin: 10px 0;
  }
  
  .loginbtn {
    text-align: center;
    color:var(--primary-color);
    text-decoration: none;
    font-weight: bold;
  }
  
  .loginbtn:hover {
    text-decoration: underline;
  }
  